<form>
<div>
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email address">
</div>
<div>
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" formControlName="password" placeholder="Password">
</div><br />
<button>Login</button>
</form>

@TempData["email"]

