<h2>Welcome to menu section</h2>
<div class="container">
    <div style="width:200px; height:150px" id="image">
        <img class="img1" style="height:150px;width:200px" src="https://i.pinimg.com/736x/e8/dc/7f/e8dc7f0b59b8602ba30621dee3c6291c.jpg" alt="">
        <span class="name">Masala Dosa</span>
        <span class="price">70 Rs</span>
        <input class="addbutton" type="button" value="Add to cart">
    </div>
</div>
