<form>
    <div>
        <label for="exampleInputEmail1" class="form-label">User Name</label>
        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="UserName">
    </div>
    <div>
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email address">
    </div>
    <div>
        <label for="exampleInputPassword1" class="form-label">Phone</label>
        <input type="number" class="form-control" formControlName="password" placeholder="Phone">
    </div>
    <div>
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" formControlName="password" placeholder="Password">
    </div>
    <div>
        <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
        <input type="password" class="form-control" formControlName="password" placeholder=" Confirm Password">
    </div><br />
    <button>SignUp</button>
</form>